html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;

    background: #8E2DE2;
    background: rgb(2, 0, 36);
    background: linear-gradient(191deg, rgba(2, 0, 36, 1) 0%, rgba(41, 41, 92, 1) 45%, rgba(27, 92, 106, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.special-shadow {
    -webkit-filter: drop-shadow(-10px 5px 0.5px #111);
    filter: drop-shadow(-10px 5px 0.5px #111);
}
 
.form-control{
    padding: 0;
}

.cover {
    max-width: 600px;
    align-self: center;
    margin-top: auto;
}

.img-container img {
    max-width: 260px;
    margin: 2em;
}

.single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}

.single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #7f0078;
    color: rgb(240, 240, 240);
}

.single .btn:hover {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #580454;
    color: rgb(240, 240, 240);
}

.justify-center {
    justify-content: center;
}
