<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pequesoft · Site under construction</title>

    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/under_construction.css">

</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main role="main" class="container cover">

            <div class="img-container">
                <img class="special-shadow" src="/static/images/pequesoft.png" alt="">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="single">
                        <div class="input-group special-shadow">
                            <p class="form-control">
                                Pequeñin is a discord bot that will manage all your public resources like tutorials and
                                videos.
                            </p>
                            <span class="input-group-btn">
                                <button onclick="subscribe()" class="btn btn-theme">
                                    Add to your server
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Pequesoft© 2021</p>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <script src="/static/js/under_construction.js"></script>
</body>

</html>